/* 양식 스타일 지정 */

body {
  font-size: 20px;;
  text-align: center;
}

a {
  text-decoration: none;
}

#banner_header {
  background-color: aliceblue;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 50px;
}

#post-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

#post-form label {
  margin-bottom: 15px;
  font-size: 20px;
}

#post-form input, #post-form textarea {
  margin-bottom: 10px;
  padding: 5px;
}

#post-form input {
  height: 60px;
  font-size: 20px;
  padding: 5px;
}

#post-form textarea {
  font-size: 20px;
  height: 130px;
  padding: 10px;
}

#post-form button {
  font-size: 20px;
  height: 50px;
  margin-bottom: 10px;
}

/* 게시물 표시 영역 스타일 지정 */
#posts {
  display: flex;
  flex-direction: column;
}

.post {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 0;
}

#list button {
  font-size: 20px;
}
